*{
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    background-color: black;
}

.navlist {
    display: flex;
    gap: 0px;
    list-style-type: none;
    margin: 0;
}

.title {
    padding: 10px;
    color: white;
    margin: 0;
    font-size: 24px;
    text-decoration: none;
}

.title h1{
    margin: 0;
}

main {
    margin: 0;
}

.media-poster{
    border-radius: 10px;
    width: max-content;
    width: 11vw;
}

.media-tile {
    display: inline-block;
    vertical-align: top;
    margin: 0.75%;
}

.media-tile-link{
    text-decoration: none;
}

.media-title {
    margin: 10px 0;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 18px;
    width: 11vw;
}

.scrollable-media-list{
    display: flex;
    flex-direction: row;
    overflow: auto;
    /* scrollbar-color: ; */
}

.progressbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-title{
    margin: 15px 0px 10px 20px;
    font-size: 24px;
    font-weight: 400;
    color: #f1f1f1;
}

.dropdown{
    font-size: large;
    color: white;
    position: relative;
    display: inline-block;
}

.dropdown-tile{
    padding: 10px 20px 10px 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: #2f2f2f;
}

.dropdown-content{
    list-style: none;
    right: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.trending-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.media-details{
    display: flex;
    padding: 5vh;
    gap: 5vh;
}

.media-details-poster{
    height: 75vh;
    border-radius: 20px;
}

.media-details-title {
    display: flex;
    align-items: baseline;
    gap: 20px;
    color: #f0f0f0;
    font-size: 6vh;
    margin-top: 10vh;
}

.media-details-title p {
    margin: 0px;
}

.media-details-genres{
    display: flex;
    color: #f0f0f0;
    font-size: 3vh;
    gap: 10px;
}

.media-details-genres p{
    margin: 0;
}

.media-details-genres p::after{
    content: ",";
}
.media-details-genres p:last-child::after{
    content: "";
}

.media-details-tagline {
    color: #9f9f9f;
    font-size: 3vh;
    font-style: italic;
    margin: 8vh 0 0 0;
}

.media-details-overview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media-details-overview-heading {
    color: #f1f1f1;
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
}

.media-details-overview-content {
    color: #f0f0f0;
    font-size: 3vh;
    margin: 0;
}